/.git
/astralcorcery
/crafttweaker_dump
/crash-reports
/logs
/mods
/orbis
/resourcepacks
/saves
/screenshots
/server-resource-packs
/snapshots-server
/texturepacks
BotaniaVars.dat
*.log
icon.png
options.txt
realms_persistance.json
usercache.json
usernamecache.json
